<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet v1.0 </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
</head>

</html>

<body>
    {% extends "template.html" %} {% block content %}

    <div class="container">
    <br>
      <div class="jumbotron">
      <!--  <div class="row"> -->
            <div class="col-xl-12">
                <div class="content">
                  <div align="center" width="700px">
                  <h4 class= "featurette-heading">Cancer Type: <span id="SampleCancerType"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i> Top 10 Transcripts and cMDT Counts Distribution across Samples

                    </div>
                    <div class="card-body">
                        <div class="chart js-plotly-plot" id="sample_graph" data-search="true"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i> Transcripts found as cMDT in Cancer
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered table-striped" width="100%" data-toggle="table" cellspacing="0" data-height="500" data-search="true" data-show-export="true" data-page-size="10" data-total-rows="50">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Cancer Type</th>
                                    <th>Sample ID</th>
                                    <th>Gene Name</th>
                                    <th>cMDT</th>
                                    <th>Transcript Name </th>
                                </tr>
                            </thead>
                            {% for value in data %}
                            <tr>
                              <td><a href="Cancer?cancer={{ value['Tissue']}}">{{ value['CancerType2']}}</a></td>
                              <td><a href="Sample?tissue={{ value['Tissue']}}&gene={{ value['GeneName1']}}&sampleid={{ value['CancerSampleId']}}">{{ value['CancerSampleId']}}</a></td>
                              <td><a href="Gene?gene={{ value['GeneName1'] }}">{{ value['GeneName1'] }}</a></td>
                              <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}">{{ value['DomCancerTrans'] }}</a></td>
                              <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}">{{ value['Transcript_Name'] }}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i> Number of detected cMDTs in each sample
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered table-striped" width="100%" data-toggle="table" cellspacing="0" data-height="500" data-search="true" data-show-export="true" data-page-size="10" data-total-rows="50">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Cancer Type</th>
                                    <th>Sample ID</th>
                                    <th>Number Of MDTs</th>
                                  <!-- <th>Number Of Mutations</th> -->

                                </tr>
                            </thead>
                            {% for value in data2 %}
                            <tr>
                                <td><a href="Cancer?cancer={{ value['CancerType']}}">{{ value['CancerType2']}}</a></td>
                              <!--  <td><a href="Sample?tissue={{ value['CancerType']}}&sampleid={{ value['SampleID']}}">{{ value['SampleID']}}</a></td> -->
                                <td> {{ value['SampleID'] }} </td>
                                <td> {{ value['NumberOfMDTs'] }} </td>
                              <!--  <td> {{ value['NumberOfMutations'] }} </td> -->
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='js/cancerspecific.js') }}"></script>
    <script type="text/javascript">
        var plot = {
            {
                graphJSON | safe
            }
        };
        Plotly.plot('sample_graph', plot, {}, {responsive: true});
    </script>
    <script>
        SampleCancerType_gtex = '{{ SampleCancerType }}';
        SampleCancerType = SampleCancerType_gtex.split('.')[1]
        document.getElementById('SampleCancerType').innerHTML = SampleCancerType;
    </script>
    {% endblock %}

</body>
