<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
</head>

</html>

<body>
    {% extends "template.html" %} {% block content %}

    <div class="container">
    <br>
    <div class="row">
        <div class="col-xl-2">
            <img class="cancer_id mx-auto d-block" id ="cancer_id" src="xx.png" class="mx-auto d-block" style="max-width: 75%">
           <!-- <img src="{{ url_for('static', filename='images/breast')}}" class="figure-img img-fluid rounded" style="max-width: 100%"> -->
        </div>
        <div class= "col-xl-10">
            <div class="jumbotron">
          <!--  <div class="row"> -->
                <div class="col-xl-12">
                    <div class="content">
                      <div align="center" width="700px">
                      <h4 class= "featurette-heading">Disease: <span id="SampleDiseaseType"></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header text-white" style="background-color: #757575;">
                        <i class="fas fa-chart-bar mr-1"></i> Top 10 dMDT and Number of dMDTs in each samples

                    </div>
                    <div class="card-body">
                        <div class="chart js-plotly-plot" id="sample_graph" data-search="true"></div>
                    </div>
                    <div class="text-center">
                        <div class="spinner-border" role="status" id="loadingsymbol"></div>
                    </div>
                    <div class="row justify-content-center">
                        <div id='loadingtext'>
                            <strong>Please wait, the data is being retrieved...</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header text-white" style="background-color: #757575;">
                        <i class="fas fa-table mr-1"></i> Transcripts found as dMDT in the Disease
                    </div>
                    <div class="table-responsive">

                    <div id="toolbar" class="select">
                      <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                      </select>
                    </div>
                        <table id="dataTable" class="table table-bordered table-striped"  width="100%" data-toggle="table" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true" cellspacing="0" data-height="500" data-search="true"  data-total-rows="50">
                            <thead class="thead-light">
                                <tr>
                                    <th data-sortable="true">Disease</th>
                                    <th data-sortable="true">Sample ID</th>
                                    <th data-sortable="true">Gene Name</th>
                                    <th data-sortable="true">dMDT</th>
                                    <th data-sortable="true">Transcript Name</th>
                                   <!-- <th data-sortable="true">Abundance of dMDT (TPM)</th> -->
                                </tr>
                            </thead>
                            {% for value in data %}
                            <tr>
                                {% if value['Tissue'] == "OIH_NAc" or  value['Tissue'] == "OIH_TG" %}
                                  <td><a href="Disease?disease={{ value['Tissue']}}" target="_blank">{{ value['Tissue']}}</a></td>
                                  <td><a href="Sample?tissue={{ value['Tissue']}}&gene={{ value['GeneName1']}}&sampleid={{ value['RNAseqAliquotID']}}&organism=Mouse" target="_blank">{{ value['RNAseqAliquotID']}}</a></td>
                                  <td><a href="Gene?gene={{ value['GeneName1'] }}&organism=Mouse" target="_blank">{{ value['GeneName1'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['cMDT'] }}&organism=Mouse" target="_blank">{{ value['cMDT'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['cMDT'] }}&organism=Mouse" target="_blank">{{ value['Transcript_Name'] }}</a></td>
                                 <!-- <td>{{ value['dMDTenrichment'] }}</a></td> -->
                              {% else %}
                                  <td><a href="Disease?disease={{ value['Tissue']}}" target="_blank">{{ value['Tissue']}}</a></td>
                                  <td><a href="Sample?tissue={{ value['Tissue']}}&gene={{ value['GeneName1']}}&sampleid={{ value['RNAseqAliquotID']}}" target="_blank">{{ value['RNAseqAliquotID']}}</a></td>
                                  <td><a href="Gene?gene={{ value['GeneName1'] }}&organism=Human" target="_blank">{{ value['GeneName1'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['cMDT'] }}&organism=Human" target="_blank">{{ value['cMDT'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['cMDT'] }}&organism=Human" target="_blank">{{ value['Transcript_Name'] }}</a></td>
                                 <!-- <td>{{ value['dMDTenrichment'] }}</a></td> -->
                            {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header text-white" style="background-color: #757575;">
                        <i class="fas fa-table mr-1"></i> Number of detected dMDTs in each sample
                    </div>
                    <div class="table-responsive">
                    <div id="toolbar2" class="select">
                      <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                      </select>
                    </div>
                        <table id="dataTable2" class="table table-bordered table-striped" width="100%" data-toggle="table" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar2" data-show-toggle="true" data-show-columns="true" cellspacing="0" data-height="500" data-search="true"  data-total-rows="50">
                            <thead class="thead-light">
                                <tr>
                                    <th data-sortable="true">Disease</th>
                                    <th data-sortable="true">Sample ID</th>
                                    <th data-sortable="true">Number Of MDTs</th>
                                </tr>
                            </thead>
                            {% for value in data2 %}
                            <tr>
                                <td>{{ value['Tissue']}}</a></td>
                                <td> {{ value['SampleID'] }} </td>
                                <td> {{ value['Count'] }} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
   <script src="{{ url_for('static', filename='js/diseasespecific.js') }}"></script>

    <script>
        SampleDiseaseType = '{{ SampleDiseaseType }}';
        document.getElementById('SampleDiseaseType').innerHTML = SampleDiseaseType;

        var image = document.getElementsByClassName("cancer_id")[0]
        image_disease = SampleDiseaseType.split("&")[0]
        image.src = "static/images/" + image_disease + ".png"

    </script>
    <script type="text/javascript">
        var plot = {{ graphJSON | safe }};
        Plotly.plot('sample_graph', plot, {});
    </script>
    <script>
          var $table2 = $('#dataTable2')

          $(function() {
            $('#toolbar2').find('select').change(function () {
              $table2.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xlsx', 'csv', 'doc', 'txt', 'sql', 'pdf'],
                columns: [
                  {
                    field: 'Disease',
                    title: 'Disease'
                  }, {
                    field: 'Sample ID',
                    title: 'Sample ID'
                  }, {
                    field: 'Number Of MDTs',
                    title: 'Number Of MDTs'
                  }
                ]
              })
            }).trigger('change')
          })
    </script>
    <br>
    <br>
    <script>
          var $table = $('#dataTable')
          $(function() {
            $('#toolbar').find('select').change(function () {
              $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xlsx', 'csv', 'doc', 'txt', 'sql', 'pdf'],
                columns: [
                  {
                    field: 'Disease',
                    title: 'Disease'
                  }, {
                    field: 'Sample ID',
                    title: 'Sample ID'
                  }, {
                    field: 'Gene Name',
                    title: 'Gene Name'
                  }, {
                    field: 'dMDT',
                    title: 'dMDT'
                  }, {
                    field: 'Transcript Name',
                    title: 'Transcript Name'
                  }
                ]
              })
            }).trigger('change')
          })
    </script>
        <script>
        $('document').ready(function() {
              $('#loadingsymbol').fadeOut(5000);
        });
    </script>
    <script>
        $('document').ready(function() {
              $('#loadingtext').fadeOut(5000);
        });
    </script>
    {% endblock %}

</body>
