<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet beta-version </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/amblem.png') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script> -->
</head>
<body>
    {% extends "template.html" %} {% block content %}
    <div class="container">
      <br>
      <div class="jumbotron">
            <div class="col-xl-12">
                <div class="content">
                  <div align="center" width="700px">
                  <h2 class= "featurette-heading">
                     CanIsoNet: <span class = "text-muted"> Cancer-specific Isoform Interaction Network </span>
                     <h6> CanIsoNet serves as a gateway to understand the functional role of cancer-specific isoform switching events. We provide two main functionalities for the users:
                     <br>
                       1. Browsing various statistics on cancer-specific isoform switching events in each of the 1209 cancer samples from the Pan-Cancer Analysis of Whole Genomes (PCAWG) project
                      <br>
                       2. Exploring and visualising isoform-specific network disruptions in the STRING interaction network. </h6>
                    </div>
                </div>
            </div>
        </div>

        <br>

            <ul>
            <li>
              Download <a href="https://github.com/abxka/CanIsoNet/blob/master/interactionDisruptionInDominantTranscripts_min2_int_anno_mutationsWithEnhancerUniq_all.tsv.gz?raw=True" >Interaction Disruption In Dominant Transcripts</a>
              <br> Processed data which includes all detected cMDTs, their sample information & disrupted interactions (comprising domain-domain interaction), string density score of genes.
             </li>
             <br>
             <li>
                Download <a href="http://version10.string-db.org/download/protein.links.detailed.v10/9606.protein.links.detailed.v10.txt.gz">STRING Interaction File</a>
            <br>
                Data includes STRING human protein-protein interaction data.
             </li>
             <br>
             <li>
                 Download <a href="https://github.com/KarakulakTulay/CanIsoNet_Web/blob/master/static/datasets/interactionsInIsoforms.tsv.gz?raw=true" > Isoform Specific Interaction File</a>
                 <br>
                Data includes isoform specific interaction data where missed and remaining interactions are reported.
             </li>
             <br>
            <li>
                 Download <a href="https://github.com/KarakulakTulay/CanIsoNet_Web/blob/master/static/datasets/string_v10_density_900_3.tsv.gz?raw=true" > String Interaction Density Score</a>
                <br>
                Data includes STRING network interaction score for each gene. This file also includes STRING density score of genes which were not found as cMDT so that not reported in CanIsoNet.
             </li>
            </ul>

        <br>
            <div class="jumbotron">
                <h6>   If you have any inquires about CanIsoNet:</h6>
                <p>Please check <a href="https://www.caniso.net/help" target="_blank">Help</a> page or contact via tuelay.karakulak@usz.ch.</p>
                <hr class="my-4">
                <h6>   Follow us:</h6>
                <p><a href="https://www.sib.swiss/abdullah-kahraman-group" target="_blank">Group Page</a></p>
            </div>
        </div>
    <!--   <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        {% endblock %}
    </div>
</body>

</html>
