<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/amblem.png') }}">

    <script type="text/javascript" src="https://version-11-5.string-db.org/javascript/combined_embedded_network_v2.0.3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>

<!-- HTML CODE -->

<body onload='javascript:send_request_to_string(); invokeIsonet()'>

    {% extends "template.html" %} {% block content %}
  <div class="container">
    <br>
      <div class="jumbotron">
      <!--  <div class="row"> -->
            <div class="col-xl-12">
                <div class="content">
                  <div align="center" width="700px">
                  <h4 class= "featurette-heading">Gene Name: <span id="genename_searched"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
      <div class="col-xl-12">
          <div class="card mb-4">
              <div class="card-header text-white" style="background-color: #757575;">
                  <i class="fas fa-chart-bar mr-1"></i> ENST Interaction Network
              </div>
            <div class="card-body">
                <div id="stringEmbedded"></div>
                    <p id='inside_text' </p>
                    <figure>
                        <img src="{{ url_for('static', filename='images/string_signs_genes.png')}}" class="figure-img img-fluid rounded" style="max-width: 15%">
                    </figure>
                    <line x1=x1 y1=y1 x2=x2 y2=y2 stroke-width="1" class="line"/>
            </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-12">
          <div class="card mb-4">
          <div class="card-header text-white" style="background-color: #757575;">
              <i class="fas fa-chart-pie mr-1"></i> Interaction Lost Information on Different Transcripts of the Gene
          </div>
          <div class="table-responsive">
            <table id="dataTable2" class="table table-bordered table-striped table-hover" width="100%" data-toggle="table" data-pagination="true" data-sortable="true" data-show-toggle="true" data-show-columns="true" data-toolbar="#toolbar" cellspacing="0"  data-search="true" data-height="400" data-show-export="true" data-click-to-select="true" data-page-size="5" data-total-rows="50">
                <thead class="thead-light">
                <h6> *only proteins having domain-domain interaction information are taken into consideration </h6>
                  <tr>
                      <th scope="col" data-sortable="true">Gene<br>Name</th>
                      <th scope="col" data-sortable="true"># of<br>Interaction*</th>
                      <th scope="col" data-sortable="true"># of Missed<br>Interaction</th>
                      <th scope="col" data-sortable="true">Interaction<br>Lost</th>
                      <th scope="col" data-sortable="true">Domain Int<br>Lost</th>
                      <th scope="col" data-sortable="true">Transcript Name</th>
                      <th scope="col" data-sortable="true">dMDT</th>
                  </tr>
              </thead>
             {% for value in data_statistics %}
                <tr>
                    <td>{{ value['GeneName1']}}</td>
                    <td> {{ value['NumberOfStringInt'] }}</td>
                    <td>{{ value['MissedInteractions'] }}</td>
                    {% if value['GeneName2'] == "-" %}
                    <td>None</td>
                    <td>None</td>
                    {% else %}
                    <td><b>{{ value['GeneName1'] }}</b>-{{ value['GeneName2'] }}</td>
                    <td><b><a href="http://pfam.xfam.org/family/{{ value['Domain1'] }}">{{ value['Domain1'] }}</b>({{ value['Region1'] }})-<a href="http://pfam.xfam.org/family/{{ value['Domain2'] }}">{{ value['Domain2'] }}</td>
                    {% endif %}
                    {% if 'ENST' in value['DomCancerTrans'] %}
                    <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Human">{{ value['Transcript_Name'] }}</a></td>
                    <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Human">{{ value['DomCancerTrans'] }}</a></td>
                    {% else %}
                    <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Mouse">{{ value['Transcript_Name'] }}</a></td>
                    <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Mouse">{{ value['DomCancerTrans'] }}</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xl-6">
            <div  class="jumbotron">
                <div class="content">
                    <div align="center">
                        <h4 class= "featurette-heading">Network Density Score: %<span id="string_score"></span> <span class = "text-muted"></span> </h4>
                        <h5> Network Density Score shows the density of interactions of a protein and its local neighborhood.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header text-white" style="background-color: #757575;">
                    <i class="fas fa-chart-pie mr-1"></i> Statistics on dMDT
                </div>
            <div class="card-body">
                <div class="chart js-plotly-plot" id="sample_graph"></div>
                <div>
                 <p>*Transcripts of this gene has been found as dMDT in these cancer types</p>
                </div>
            </div>
        </div>
        </div>
    </div>

  <div class="row">
          <div class="col-xl-12">
              <div class="card mb-4">
                  <div class="card-header text-white" style="background-color: #757575;">
                      <i class="fas fa-table mr-1"></i> Interaction Lost of Different Transcript of Gene
                  </div>
                  <div class="table-responsive">
                    <div id="toolbar" class="select">
                      <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                      </select>
                    </div>
                      <table id="dataTable" class="table table-bordered table-striped" data-click-to-select="true" data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true" data-search="true" data-height="600" data-show-export="true" data-page-size="10" data-pagination="true" data-sortable="true" data-total-rows="50">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col" data-sortable="true">Sample ID</th>
                              <th scope="col" data-sortable="true">Disease</th>
                              <th scope="col" data-sortable="true">Gene Name 1</th>
                              <th scope="col" data-sortable="true">Gene Name 2</th>
                              <th scope="col" data-sortable="true"> Transcript Name</th>
                              <th scope="col" data-sortable="true">dMDT</th>
                            </tr>
                          </thead>
                              {% for value in result %}
                              <tr>
                                   {% if value['CancerType2'] != 'OIH' %}
                                  <td><a href="Sample?sampleid={{ value['CancerSampleId']}}&gene={{ value['GeneName1']}}&tissue={{ value['Tissue']}}">{{ value['CancerSampleId']}}</a></td>
                                  {% else %}
                                  <td><a href="Sample?sampleid={{ value['CancerSampleId']}}&gene={{ value['GeneName1']}}&tissue={{ value['CancerType2']}}">{{ value['CancerSampleId']}}</a></td>
                                  {% endif %}
                                  {% if value['CancerType2'] != 'OIH' %}
                                  <td><a href="Cancer?cancer={{ value['CancerType2']}}">{{ value['CancerType2']}}</a></td>
                                  {% else %}
                                  <td><a href="Disease?disease={{ value['CancerType2']}}">{{ value['CancerType2']}}</a></td>
                                  {% endif %}
                                  {% if value['CancerType2'] != 'OIH' %}
                                  <td><a href="Gene?gene={{ value['GeneName1'] }}&organism=Human">{{ value['GeneName1'] }}</a></td>
                                  <td>{{ value['GeneName2'] }}</td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Human">{{ value['Transcript_Name'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Human">{{ value['DomCancerTrans'] }}</a></td>
                                  {% else %}
                                   <td><a href="Gene?gene={{ value['GeneName1'] }}&organism=Mouse">{{ value['GeneName1'] }}</a></td>
                                  <td>{{ value['GeneName2'] }}</td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Mouse">{{ value['Transcript_Name'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}&organism=Mouse">{{ value['DomCancerTrans'] }}</a></td>
                                  {% endif %}
                              </tr>
                              {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script language='javascript'>

       function invokeIsonet() {
           var stringNetwork = document.getElementById('svg_network_image');
           if (stringNetwork == null) {
               setTimeout(invokeIsonet, 10)
           } else {
               isonet();
           }
       }
        function send_request_to_string() {
            string_score = '{{ string_score }}'
            document.getElementById('string_score').innerHTML = string_score;

            //genename_searched = '{{ genename }}';
            //document.getElementById('genename_searched').innerHTML = genename_searched;

            var stringNetwork = document.getElementById('svg_network_image');
            if (stringNetwork !== null) {
                stringNetwork.remove();
            }

            text = '{{ genename }}';
            var protein = text.split(' ');

            organism = '{{ organism }}'

            if (organism == 'Human') {
               species = '9606'
            }

            if (organism == 'Mouse') {
               species = '10090'
            }

            partner_genenames_missed = JSON.parse('{{ partner_genenames | tojson  }}');

            partner_genenames_exists = JSON.parse('{{ partner_genenames_exists | tojson  }}');

            partner_genenames_missed.push(protein)

           if (partner_genenames_missed.length > 20) {
               partner_genenames_missed = JSON.parse('{{ partner_genenames | tojson  }}');
               partner_genenames_missed.push(protein)
               partner_genenames_missed.push.apply(partner_genenames_missed,partner_genenames_exists.slice(0, 10))
           } else {
               partner_genenames_missed = JSON.parse('{{ partner_genenames | tojson  }}');
               partner_genenames_missed.push(protein)
               partner_genenames_missed.push.apply(partner_genenames_missed,partner_genenames_exists.slice(0, 20))
           }

           getSTRING('https://version-11-5.string-db.org', {
               'species': species,
               //'identifiers': protein,
               'identifiers':  partner_genenames_missed,
               'network_flavor': 'confidence',
               'caller_identity': 'www.amazing_network_app.org',
               'required_score':0,
               //'add_nodes':15
               'add_white_nodes':0
           })


            if (partner_genenames_missed.length == 1) {
                document.getElementById("inside_text").innerHTML = 'This protein has no interaction'
            }
       }



        function isonet() {

            genename_searched = '{{ genename }}';
            document.getElementById('genename_searched').innerHTML = genename_searched;

            df_clinvar_list = JSON.parse('{{ df_clinvar_list | tojson  }}');

            protein_nodes = document.getElementsByClassName('nwnodecontainer');

            for (i = 0; i < protein_nodes.length; i++) {

                geneName = protein_nodes[i].getAttribute('data-safe_div_label')

                if (geneName == genename_searched) {
                    geneid_searched = protein_nodes[i].getAttribute('id').split(".").pop()
                };
            }

            var object = {};
            for (j = 0; j < protein_nodes.length; j++) {

                  geneName = protein_nodes[j].getAttribute('data-safe_div_label')

                  document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,255,255)')

                  if (geneName == genename_searched) {

                    document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,0,0)');
                  }

                  for(i = 0; i < df_clinvar_list.length; i++) {

                      cgc_name = df_clinvar_list[i]

                      if (cgc_name == geneName.toUpperCase()) {

                        document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(0,255,255)');
                      }
                      else {
                         continue;
                      };

                      if (cgc_name == genename_searched) {

                        document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,0,0)');
                      }

                }
            }
        }
    </script>
     <script>
     var $table = $('#dataTable')

     $(function() {
       $('#toolbar').find('select').change(function () {
         $table.bootstrapTable('destroy').bootstrapTable({
           exportDataType: $(this).val(),
           exportTypes: ['json', 'xlsx', 'csv', 'doc', 'txt', 'sql', 'pdf'],
           columns: [
             {
               field: 'SampleID',
               title: 'SampleID'
             }, {
               field: 'Disease',
               title: 'Disease'
             }, {
               field: 'Gene Name',
               title: 'Gene Name'
             }, {
               field: 'Gene Name2',
               title: 'Gene Name2'
             },{
               field: 'Transcript Name',
               title: 'Transcript Name'
             }, {
               field: 'dominant Disase Transcript (dMDT)',
               title: 'dominant Disase Transcript (dMDT)'
             }
           ]
         })
       }).trigger('change')
     })
    </script>
     <script>
     var $table2 = $('#dataTable2')

     $(function() {
       $('#toolbar').find('select').change(function () {
         $table2.bootstrapTable('destroy').bootstrapTable({
           exportDataType: $(this).val(),
           exportTypes: ['json', 'xlsx', 'csv', 'doc', 'txt', 'sql', 'pdf']
         })
       }).trigger('change')
     })
    </script>
    <script type="text/javascript">
        var plot = {{  graphJSON2 | safe }};
        Plotly.plot('sample_graph', plot, {});
    </script>
    {% endblock %}
  </body>
