<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>IsoNet v1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>  -->
  <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>


</head>
</html>

<body>
    {% extends "template.html" %} {% block content %}
    <div class="container">
      <br>
      <div class="jumbotron">
      <!--  <div class="row"> -->
            <div class="col-xl-12">
                <div class="content">
                  <br>
                  <br>
                  <div align="center" width="700px">
                  <h2 class= "featurette-heading">
                     CanIsoNet: <span class = "text-muted"> Cancer-specific Isoform Interaction Network </span>
                     <h6> CanIsoNet serve as a gateway to understand the functional role of cancer-specific isoform switching event. We provide two main functionalities to the users:
                       Browsing various statistics on cancer-specific isoform switching events in each 1209 cancer samples from the Pan-Cancer Analysis of Whole Genomes (PCAWG) project
                       Exploring and visualising isoform-specific  network disruptions in the STRING interaction network. </h6>
                      <br>
                      <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <br>
          <br>
          <div class="col-6 col-md-4">
          <!--  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"> -->
              <ul class="nav nav-tabs flex-column nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="v-pills-mdt-tab" data-toggle="pill" href="#v-pills-mdt" role="tab" aria-controls="v-pills-mdt" aria-selected="true">What is Isoform Switching?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-isonet-tab" data-toggle="pill" href="#v-pills-isonet" role="tab" aria-controls="v-pills-isonet" aria-selected="false">CanIsoNet Methodology</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-sample-tab" data-toggle="pill" href="#v-pills-sample" role="tab" aria-controls="v-pills-sample" aria-selected="false">Sample Sizes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-exp-tab" data-toggle="pill" href="#v-pills-exp" role="tab" aria-controls="v-pills-exp" aria-selected="false">How To Use?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-faq-tab" data-toggle="pill" href="#v-pills-faq" role="tab" aria-controls="v-pills-faq" aria-selected="false">Frequenty Asked Questions</a>
                </li>
              </ul>
            <!-- </div> -->
          </div>
          <div class="col-12 col-md-8">
              <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade active show" id="v-pills-mdt" role="tabpanel" aria-labelledby="v-pills-mdt-tab">
                        <p> Under normal conditions, cells of almost all tissue types express the same predominant canonical transcript isoform at each gene locus (MDT). In cancer, however, splicing regulation is often disturbed, leading to a switch from
                            the most dominant transcripts (MDT) to a cancer-specific MDT (cMDT). To understand the extent of these switches, we have recenty analyzed isoform-specific protein–protein interaction disruptions in 1,209 cancer samples covering 27 different cancer
                            types from the Pan-Cancer Analysis of Whole Genomes (PCAWG) project of the International Cancer Genomics Consortium (ICGC). Our study revealed large variations in the number of cMDT. Some cMDT were found ın 100% of all samples in a cancer type,
                            making them ideal candidates for diagnostic biomarkers.
                            <figure>
                                <img src="{{ url_for('static', filename='images/isonet.png')}}" class="figure-img img-fluid rounded" style="max-width: 70%">
                                <figcaption class="figure-caption text-right">
                                    <b>Figure.</b> Representation of Isoform Switching Event: Most Dominant Transcript (MDT) is identified as red transcript in normal samples while it is switched to dark gray one in cancer samples.
                                </figcaption>
                            </figure>
                          </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-isonet" role="tabpanel" aria-labelledby="v-pills-isonet-tab">
                        <p> The methodology behind CanIsoNet is as following:
                              <figure>
                                  <img src="{{ url_for('static', filename='images/whatiscanisonet.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                                  <figcaption class="figure-caption text-right"> Overview of methodology to assess the impact of cancer-specific Most Dominant Transcripts (cMDT) using an isoform-specific interaction network. The top shows the steps and filters for cMDT detection. The bottom describes the methods and databases of the isoform-specific interaction network CanIsoNet. The central section depicts the combination of cMDT information with data from CanIsoNet to assess the functional impact of alternatively spliced isoforms.
                                  </figcaption>
                              </figure>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-sample" role="tabpanel" aria-labelledby="v-pills-sample-tab">
                        <div class="chart js-plotly-plot" id="chart" data-search="true"></div>
                        <br>
                        <br>
                        <br>
                        <p> The sample size used to assess cMDTs in PCAWG and GTEx as following:
                            <!--  <figure>
                                  <img src="{{ url_for('static', filename='images/samplesize.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                                  <figcaption class="figure-caption text-right"> The top plot shows the number of samples with RNAseq in PCAWG per cancer type colored according to PCAWG specifications. The bottom plot displays the number of samples per matched GTEx tissue type.
                                  </figcaption>
                              </figure> -->
                        </p>
                      </div>
                    </div>
                  </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="jumbotron">
                  <h5>   Citation: </h5>
                  <h6>   If you use CanIsoNet v1.0, please cite the following articles :</h6>
                  <h6>Abdullah Kahraman, Tülay Karakulak, Damian Szklarczyk, Christian von Mering
                      <a href="https://doi.org/10.1038/s41598-020-71221-5" target="_blank">Pathogenic impact of transcript isoform switching in 1,209 cancer samples covering 27 cancer types using an isoform-specific interaction network</a>
                      Scientific Reports, 2020.
                  </h6>
                  <h6>Tülay Karakulak, Damian Szklarczyk, Christian von Mering, Abdullah Kahraman
                      <a href="https://doi.org/10.1038/s41598-020-71221-5" target="_blank">CanIsoNet v1.0: Database to dissect the functional impact of Isoform Switching Events in Cancer</a>
                      BioRxiv, 2021.
                  </h6>
                  <hr class="my-4">
                  <h6>   If you have any inquires about CanIsoNet v1.0:</h6>
                  <p>Please check <a href="http://127.0.0.1:5000/help" target="_blank">Help</a> page or contact via tuelay.karakulak@usz.ch.</p>
                  <hr class="my-4">
                  <h6>   Follow us :</h6>
                  <p><a href="https://clinicalcompbio.org" target="_blank">Group Page</a></p>
              </div>
        </div>
      </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript">
            var plot = {{ graphJSON | safe }};
            Plotly.plot('chart', plot, {});
        </script>
        {% endblock %}

</body>
