<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title> CanIsoNet beta-version </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>

</head>
</html>

<body>
    {% extends "template.html" %} {% block content %}
    <div class="container">
      <br>
      <div class="jumbotron">
            <div class="col-xl-12">
                <div class="content">
                  <div align="center" width="700px">
                  <h2 class= "featurette-heading">
                     CanIsoNet: <span class = "text-muted"> Disease-specific Isoform Interaction Network </span>
                     <h6> CanIsoNet serves as a gateway to understand the functional role of disease-specific isoform switching events. We provide two main functionalities for the users:
                     <br>
                       1. Browsing various statistics on disease-specific isoform switching events
                      <br>
                       2. Exploring and visualising isoform-specific network disruptions in the STRING interaction network </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <br>
          <br>
          <div class="col-6 col-md-4">
          <!--  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"> -->
              <ul class="nav nav-tabs flex-column nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="v-pills-exp-tab" data-toggle="pill" href="#v-pills-exp" role="tab" aria-controls="v-pills-exp" aria-selected="true">How To Use?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-mdt-tab" data-toggle="pill" href="#v-pills-mdt" role="tab" aria-controls="v-pills-mdt" aria-selected="false">What is Isoform Switching?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-isonet-tab" data-toggle="pill" href="#v-pills-isonet" role="tab" aria-controls="v-pills-isonet" aria-selected="false">CanIsoNet Methodology</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-sample-tab" data-toggle="pill" href="#v-pills-sample" role="tab" aria-controls="v-pills-sample" aria-selected="false">Sample Sizes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-faq-tab" data-toggle="pill" href="#v-pills-faq" role="tab" aria-controls="v-pills-faq" aria-selected="false">Frequently Asked Questions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="v-pills-acknow-tab" data-toggle="pill" href="#v-pills-acknow" role="tab" aria-controls="v-pills-acknow" aria-selected="false">About</a>
                </li>
              </ul>
            <!-- </div> -->
          </div>
          <div class="col-12 col-md-8">
              <div class="tab-content" id="v-pills-tabContent">

                      <div class="tab-pane fade active show" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-exp-tab">
                        <p> <b><u> Starting Points at Home Page:</u></b><br>
                          <br>
                          CanIsoNet offers two starting points to the user: <br>
                          <br>
                          <b>1)	Browse Disease Type:</b> The user can find 25 disease types to browse. In the table, the first column represents a PCAWG-Code used in the Pan-Cancer Analysis Whole Genome Project for 24 cancer types and one BioProject Accession Number for OIH. The second column corresponds to the name of the disease type. The third column indicates the data source (project). <br>
                          <br>
                          <b>2)	Browse a Genes & Isoforms:</b>  The user can search for a specific gene name or ENST id, or corresponding transcript name. Isoform search leads the user to the Transcript Page while gene search leads the user to the Gene page.<br>
                          <br>
                          <br>
                          <b><u>Example Use Case: Browse Disease Type</u></b>
                          Click on any of the column to be directed into the disease page (Figure A).
                          <figure>
                              <img src="{{ url_for('static', filename='images/Help_FigureA.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                          </figure>
                          <b>Disease Page</b><br>
                          <br>
                          Browsing by disease type directs users to a disease page. This page presents three main findings:
                          <br>
                          <b>a.</b>	In the Figure B-left</b>, you will see frequencies of the top ten most common cMDTs, which represents the proportion of the transcripts occurence across cancer samples. Some cMDTs are found in every sample, which makes them potential biomarkers for that cancer type.  <br>
                          <br>
                          <b>b.</b>	In the Figure B-right</b>: you will find the distribution of cMDT counts across samples of the cancer type selected which is also presented as a table on the bottom table of the page.<br>
                          <br>
                          <b>c.</b>	In the table below the figures, the user can find all different isoforms found as cMDTs in the cancer type of interest. The user can search for a specific isoform or sample. <br>
                          <br>
                          <figure>
                              <img src="{{ url_for('static', filename='images/Help_FigureB_C.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                          </figure>
                          <br>
                          <b>Transcript Page</b><br>
                          <br>
                          The transcript page contains the following information:
                          <br>
                          <b>a.</b>	STRING-based transcript interaction network <b>(Figure D)</b>:<br>
                          -	Up to 20 interactions of the protein of interest are shown in the network. <br>
                          -	The missing interactions upon isoform switching are shown as a thick black lines. The remaining interactions are seen as a thin grey lines. <br>
                          -	Proteins found in the cancer gene census are highlighted in turquoise colours. <br>
                          <br>
                          <b>b.</b>Statistics on the cMDT <b>(Figure E-F)</b>: Number of missed and remaining interactions, network density score ( which estimates the density of interactions of a protein and its local neighborhood in the STRING interaction network), and cancer types where the transcript is found as cMDT.<br>
                          <br>
                          <b>c.</b><b>Figure G-top </b> shows the table that includes the sample-based information for the interactions lost upon isoform switching: which interactions are lost in which sample.<br>
                          <br>
                          <b>d.</b><b>Figure G-bottom</b> shows the table that includes the cancer census genes, included if an interaction with the protein of interest is lost upon isoform switching.<br>
                          <br>
                          <figure>
                              <img src="{{ url_for('static', filename='images/Help_FigureD_G.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                          </figure>
                          <br>
                          <b>Sample Page</b><br>
                          <br>
                          In sample based page, the user can see the MDT-cMDT switch in the corresponding sample. Here, we also show the TPM counts for the MDTs and cMDTs in cancer sample along with the average TPM counts of MDTs and cMDTs in normal samples <b>(Figure H)</b>.
                          In addition, domain structure of MDT and cMDT are provided.
                          <br>
                          <br>
                            <figure>
                              <img src="{{ url_for('static', filename='images/Help_FigureH.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                          </figure>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-mdt" role="tabpanel" aria-labelledby="v-pills-mdt-tab">
                        <p> Under normal conditions, cells of almost all tissue types express the same predominant canonical transcript isoform at each gene locus (MDT). In cancer, however, splicing regulation is often disturbed, leading to a switch from
                            the most dominant transcripts (MDT) to a cancer-specific MDT (cMDT) (see Figure below). <br>
                            To understand to which extent of these switches occur, we have recenty analyzed isoform-specific protein–protein interaction disruptions in 1,209 cancer samples covering 27 different cancer
                            types from the Pan-Cancer Analysis of Whole Genomes (PCAWG) project of the International Cancer Genomics Consortium (ICGC). <br>
                             Our study revealed large variations in the number of cMDT. Some cMDT were found in 100% of all samples in a cancer type, making them ideal candidates for diagnostic biomarkers.
                            <figure>
                                <img src="{{ url_for('static', filename='images/mdtswitch.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                                <figcaption class="figure-caption text-left">
                                    <b>Figure.</b> Representation of an Isoform Switching Event: Most Dominant Transcript (MDT) is represented as red transcript in normal samples while it is switched to dark gray one in cancer samples.
                                </figcaption>
                            </figure>
                          </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-isonet" role="tabpanel" aria-labelledby="v-pills-isonet-tab">
                        <p> The methodology behind CanIsoNet is as following:
                              <figure>
                                  <img src="{{ url_for('static', filename='images/whatiscanisonet.png')}}" class="figure-img img-fluid rounded" style="max-width: 100%">
                                  <figcaption class="figure-caption text-leftt">
                                    <b>Figure.</b> Overview of methodology to assess the impact of cancer-specific Most Dominant Transcripts (cMDT) using an isoform-specific interaction network. The top shows the steps and filters for cMDT detection. The bottom describes the methods and databases of the isoform-specific interaction network CanIsoNet. The central section depicts the combination of cMDT information with data from CanIsoNet to assess the functional impact of alternatively spliced isoforms.
                                  </figcaption>
                              </figure>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-sample" role="tabpanel" aria-labelledby="v-pills-sample-tab">
                        <div class="chart js-plotly-plot" id="chart" data-search="true"></div>
                        <br>
                        <br>
                        <br>
                        <p> The sample size used to assess cMDTs in PCAWG and GTEx as following:
                        </p>
                      </div>
                        <div class="tab-pane fade" id="v-pills-faq" role="tabpanel" aria-labelledby="v-pills-faq-tab">
                                <div id="accordion">
                                  <div class="card">
                                    <div class="card-header" id="Firstquestion">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFirst" aria-expanded="true" aria-controls="collapseFirst">
                                          Why I can not find my protein/isoform of interest in the database?
                                        </button>
                                      </h5>
                                    </div>

                                    <div id="collapseFirst" class="collapse" aria-labelledby="Firstquestion" data-parent="#accordion">
                                      <div class="card-body">
                                        CanIsoNet currently only reports the genes and corresponding isoforms that have been detected as disease-specific isoform in our analysis. If the protein/isoform of interest is not found in CanIsoNet, that means we do not see it as disease-specific cMDT in 24 different cancer types analysis and 1 OIH data analysis.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="Secondquestion">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSecond" aria-expanded="false" aria-controls="collapseSecond">
                                          I have found incorrect information/representation in the website. What should I do?
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseSecond" class="collapse" aria-labelledby="Secondquestion" data-parent="#accordion">
                                      <div class="card-body">
                                          We would like to hear them all! <br>
                                          Please contact us via tuelay.karakulak@usz.ch. <br>
                                          We will get back to you as soon as possible :)
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="Thirdquestion">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThird" aria-expanded="false" aria-controls="collapseThird">
                                        Why I see less protein interaction partner in CanIsoNet than STRING?
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseThird" class="collapse" aria-labelledby="Thirdquestion" data-parent="#accordion">
                                      <div class="card-body">
                                        In CanIsoNet, we only show protein interactions whose domain-domain interaction information is available. If there is no domain information available, they are discarded in analysis. <br>
                                        Moreover, tables in the transcript page show missing interactions if both interaction partner is expressed in a specific disease type. If proteins have not found in cancer samples (not expressed), we can not find them as interaction lost. Thus, they are not seen in the table.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-acknow" role="tabpanel" aria-labelledby="v-pills-acknow-tab">
                        <p>
                        <br>
                        <ul>
                            <li>
                             CanIsoNet has been developed by <a href="https://clinicalcompbio.org" target="_blank">Clinical Computational Biology Group</a> of University of Zurich and University Hospital Zurich.
                            </li>
                            <br>
                            <li>
                             Maintainer: Tülay Karakulak
                            </li>
                            <br>
                            <li>
                            Source code can be found at <a href="https://github.com/KarakulakTulay/CanIsoNet_Web" target="_blank">Github</a>
                            </li>
                            <br>
                            <li>
                             CanIsoNet was developed with the fund provided by the Krebsliga Zürich.
                            </li>
                            <br>
                            <li>
                            CanIsoNet was built by using <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a>, <a href="https://plotly.com" target="_blank">Plotly</a>, and <a href="https://getbootstrap.com" target="_blank">Bootstrap.</a> Domain structures of transcripts were generated by using the <a href= "https://www.bioconductor.org/packages/devel/bioc/vignettes/wiggleplotr/inst/doc/wiggleplotr.html" target="_blank">wiggleplotr package</a>. Anatograms were generated by using the <a href="https://jespermaag.shinyapps.io/gganatogram/ " target="_blank">gganatogram Rshiny app.</a>
                            </li>
                            <br>
                            <li>
                            Data used to built CanIsoNet were collected from <a href="http://version10.string-db.org" target="_blank">STRING</a>, <a href="https://3did.irbbarcelona.org" target="_blank">3did</a>, <a href="https://cancer.sanger.ac.uk/cosmic" target="_blank">COSMIC</a>, <a href="http://feb2014.archive.ensembl.org/index.html" target="_blank">Ensembl</a> and <a href="http://www.wwpdb.org/" target="_blank">Protein Data Bank.</a>
                            </li>
                        </ul>
                        </p>
                        <br>
                        <br>
                      </div>
                    </div>
                  </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="jumbotron">
                  <h5>   Citation: </h5>
                  <h6>   If you use CanIsoNet, please cite the following articles :</h6>
                  <h6>Kahraman et al.,
                      <a href="https://doi.org/10.1038/s41598-020-71221-5" target="_blank">Pathogenic impact of transcript isoform switching in 1,209 cancer samples covering 27 cancer types using an isoform-specific interaction network</a>,
                      Scientific Reports, 2020.
                      <br>
                      Karakulak et al., <a href="https://www.biorxiv.org/content/10.1101/2021.09.17.460795v1" target="_blank"> CanIsoNet: A Database to Study the Functional Impact of Isoform Switching Events in Cancer</a>, BioRxiv, 2021.
                  </h6>
                  <hr class="my-4">
                  <h6>   If you have any inquires about CanIsoNet:</h6>
                  <p>Please contact via tuelay.karakulak@usz.ch.</p>
                  <hr class="my-4">
                  <h6>   Follow us:</h6>
                  <p><a href="https://www.sib.swiss/abdullah-kahraman-group" target="_blank">Group Page</a></p>
              </div>
        </div>
      </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript">
            var plot = {{ graphJSON | safe }};
            Plotly.plot('chart', plot, {}, {responsive: true});
        </script>
        {% endblock %}
</body>
