<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet beta-version </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/amblem.png') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script> -->
</head>
<body>
    <style>
        .ui-autocomplete {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          display: none;
          float: left;
          min-width: 160px;
          padding: 5px 0;
          margin: 2px 0 0;
          list-style: none;
          font-size: 14px;
          text-align: left;
          background-color: #ffffff;
          border: 1px solid #cccccc;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          background-clip: padding-box;
        }
        .ui-autocomplete > li > div {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.42857143;
          color: #333333;
          white-space: nowrap;
        }
    </style>
    {% extends "template.html" %} {% block content %}
    <div class="container">
      <br>
      <div class="jumbotron">
            <div class="col-xl-12">
                <div class="content">
                  <div align="center" width="700px">
                  <h2 class= "featurette-heading">
                     CanIsoNet: <span class = "text-muted"> Cancer-specific Isoform Interaction Network </span>
                     <h4> A gateway to understand the functional role of cancer-specific isoform switching events.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="ui-widget">

                <label for="genetakeinput"></label>
                <form class="needs-validation" align="middle" novalidate>
                <div id="gene_example_return" align="left">
                    Gene Search:
                    <a class="example">Examples:</a>
                    <a href="#" class="example">#1</a>
                    <a href="#" class="example">#2</a>
                </div>
                <input type="text" class="form-control  form-control-lg" id="genetakeinput" placeholder="Type a Gene Name" required/>
                <br>
                <input value="Go" class="fbutton" type="submit" onClick="GeneFunction()"/>
                </form>
            </div>
            </div>
                <div class='col-6'>
                   <div class="ui-widget">
                       <label for="isotakeinput"></label>
                        <form class="needs-validation" align="middle" novalidate>
                         <div id="isoform_return" align="left">
                             Isoform Search:
                             <a class="example">Examples:</a>
                             <a href="#" class="example">#1</a>
                             <a href="#" class="example">#2</a>
                         </div>
                         <input type="text" class="form-control form-control-lg" id="isotakeinput" placeholder="Type an Isoform Name" required/>
                        <br>
                        <input value="Go" class="fbutton" type="submit" onClick="isoformFunction()"/>
                        </form>
                   </div>
                </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-xl-12">
            <div class="card mb-4">
                <div class="table-responsive">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i> Browse Cancer Types
                    </div>
           <!--  <p> To detect cMDTs, the following 27 different cancer types has been used in our analysis. </p> -->
               <table id="dataTable" class="table table-bordered table-striped" width="100%" data-toggle="table" cellspacing="0" data-height="800" data-show-export="true" data-page-size="10" data-total-rows="50">
                   <thead class="thead-dark">
                       <tr>
                           <th>PCAWG-Code</th>
                           <th>Cancer Type Name</th>
                           <th>Dataset</th>
                       </tr>
                   </thead>
                   {% for value in data %}
                   <tr>
                       <td><a href="Cancer?cancer={{ value['PCAWG_GTEx']}}">{{ value['PCAWG-Code']}}</a></td>
                       <td><a href="Cancer?cancer={{ value['PCAWG_GTEx']}}">{{ value['Cancer Type Name']}}</a></td>
                       <td>PCAWG</td>
                   </tr>
                   {% endfor %}
               </table>
              </div>
             </div>
             </div>
        </div>
        <br>
        <br>
            <div class="jumbotron">
                <h5>   Citation: </h5>
                <h6>   If you use CanIsoNet, please cite the following articles :</h6>
                  <h6>Kahraman et al.,
                      <a href="https://doi.org/10.1038/s41598-020-71221-5" target="_blank">Pathogenic impact of transcript isoform switching in 1,209 cancer samples covering 27 cancer types using an isoform-specific interaction network</a>,
                      Scientific Reports, 2020.
                      <br>
                      Karakulak et al.,<a href="https://www.biorxiv.org/content/10.1101/2021.09.17.460795v1" target="_blank">CanIsoNet: A Database to Study the Functional Impact of Isoform Switching Events in Cancer</a>, BioRxiv, 2021.
                  </h6>
                <hr class="my-4">
                <h6>   If you have any inquires about CanIsoNet:</h6>
                <p>Please check <a href="https://www.caniso.net/help" target="_blank">Help</a> page or contact via tuelay.karakulak@usz.ch.</p>
                <hr class="my-4">
                <h6>   Follow us:</h6>
                <p><a href="https://www.sib.swiss/abdullah-kahraman-group" target="_blank">Group Page</a></p>
            </div>
        </div>
    <!--   <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
         <script>
            function GeneFunction() {
                genename = document.getElementById("genetakeinput").value
                if (genename.length !== 0) {
                    window.open("https://www.caniso.net/Gene?gene=" + document.getElementById("genetakeinput").value);
                }
            }
        </script>
         <script>
            function isoformFunction() {
                dictionary = JSON.parse('{{ temp_dict | tojson  }}')
                var iso_value = document.getElementById("isotakeinput").value
                if (iso_value.length !== 0) {
                    if (iso_value.startsWith("ENST")) {
                        var genename = dictionary.filter(function (element) { return element.DomCancerTrans == iso_value })
                        var gene_name = genename[0]['GeneName1_x']
                        window.open("https://www.caniso.net/Transcript?gene=" + gene_name + "&enst=" + document.getElementById("isotakeinput").value)

                    } else {
                        var new_genename = dictionary.filter(function (element) { return element.Transcript_Name == iso_value })
                        var new_gene_name = new_genename[0]['GeneName1_x']

                        var enst_value = dictionary.filter(function (element) { return element.Transcript_Name == iso_value })
                        var iso_https = enst_value[0]['DomCancerTrans']
                        window.open("https://www.caniso.net/Transcript?gene=" + new_gene_name + "&enst=" + iso_https);
                    }
                }
               // window.location.href= "https://www.caniso.net/Transcript_Based?gene=" + document.getElementById("gene2takeinput").value + "&enst=" + document.getElementById("isotakeinput").value;
            };
        </script>
        <script>
          $( document ).ready(function() {
                  availableTags2 = JSON.parse('{{ data2 | tojson  }}')
                  $( "#genetakeinput" ).autocomplete({
                    source: availableTags2
                  });
          });
        </script>
         <script>
          $( document ).ready(function() {
                  availableTags3 = JSON.parse('{{ data2 | tojson  }}')
                  $( "#gene2takeinput" ).autocomplete({
                    source: availableTags3
                  });
          });
        </script>
        <script>
          $( document ).ready(function() {
                  availableTags10 = JSON.parse('{{ genenamecmdt_gene_tn | tojson  }}')
                  $( "#isotakeinput" ).autocomplete({
                    source: availableTags10
                  });
          });
        </script>
         <script>
         // $('#gene2takeinput').change(function() {
         //   availableTags4 = JSON.parse('{{ temp_dict | tojson  }}')
         //   availableTags6 = []
         //   availableTags7 = []
         //   availableTags8 = []
         //   availableTags5 = availableTags4.filter(function (element) { return element.GeneName1_x == document.getElementById('gene2takeinput').value })
         //   for (i = 0; i < availableTags5.length; i++){
         //       //availableTags6[i] = availableTags5[i]['DomCancerTrans']
         //       availableTags6.push(availableTags5[i]['Transcript_Name'])
         //       availableTags6.push(availableTags5[i]['DomCancerTrans'])
         //       //console.log(availableTags6)
         //   }
         //         $( "#isotakeinput" ).autocomplete({
         //           source: availableTags6
         //         });
         // });
        </script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
            </script>
            <script>
                $(document).ready(function(){
                	$("#isoform_return a").click(function(){
                		var value = $(this).html();
                		//if (value == '#1') {var new_value = 'BRCA1'} else {var new_value = 'CASP10'};
                		if (value == '#1') {var new_value_iso = 'BRCA1-201'} else {var new_value_iso = 'ENST00000374650'};
                       // var input = $('#gene2takeinput');
                        var input2 = $('#isotakeinput');
                    //    input.val(new_value);
                        input2.val(new_value_iso);
                	});
                });
            </script>
            <script>
                $(document).ready(function(){
                	$("#gene_example_return a").click(function(){
                		var value = $(this).html();
                		if (value == '#1') {var new_value = 'BRCA1'} else {var new_value = 'CASP10'};
                        var input = $('#genetakeinput');
                        input.val(new_value);
                	});
                });
            </script>
        {% endblock %}
    </div>
</body>

</html>
