<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet beta-version</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <script type="text/javascript" src="https://version-11-5.string-db.org/javascript/combined_embedded_network_v2.0.3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>

<!-- HTML CODE -->

<body onload='javascript:send_request_to_string(); invokeIsonet()'>

    {% extends "template.html" %} {% block content %}

  <div class="container">
    <br>
      <div class="jumbotron">
      <!--  <div class="row"> -->
            <div class="col-xl-12">
                <div class="content">
                  <div align="center">
                  <h4 class= "featurette-heading">Gene Name: <span id="genename_searched"></span> <span class = "text-muted"></span> </h4>
                     <h6>Transcript ID: <span id="enstidxx"></span> </h6>
                     <h6>Transcript Name: <span id="transcript_name"></span> </h6>
                    </div>
                </div>
            </div>
        </div>
      <div class="text-center">
        <div class="spinner-border" role="status" id="loadingsymbol">
       </div>
      </div>
    <div class="row">
      <div class="col-xl-12">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar mr-1"></i> cMDT Interaction Network
              </div>
            <div class="card-body">
              <!--  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="395" height="305" viewBox="0 0 395 305" class="shadow"> -->
                  <div id="stringEmbedded"></div>
                    <figure>
                        <img src="{{ url_for('static', filename='images/network_signs2.png')}}" class="figure-img img-fluid rounded" style="max-width: 15%">
                    </figure>
                    <line x1=x1 y1=y1 x2=x2 y2=y2 stroke-width="1" class="line"/>
               <!-- </svg> -->
            </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-12">
          <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table mr-1"></i> Protein interaction lost due to MDT switch
          </div>
          <div class="table-responsive">
            <table id="dataTable2" class="table table-bordered table-striped" width="100%" data-toggle="table" cellspacing="0"  data-search="true" data-height="400" data-show-export="true" data-page-size="20" data-total-rows="50" data-pagination="true" >
                <h6> *having domain-domain interaction information</h6>
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Gene<br>Name</th>
                      <th scope="col">Number of<br>Interaction*</th>
                      <th scope="col"># of Lost<br>Interaction</th>
                      <th scope="col">Interaction<br>Lost</th>
                      <th scope="col">Lost<br>Domain<-->Domain Int</th>
                  </tr>
              </thead>
             {% for value in data_statistics %}
                <tr>
                    <td>{{ value['GeneName1'] }}</td>
                    <td>{{ value['NumberOfStringInt'] }}</td>
                    <td>{{ value['MissedInteractions'] }}</td>
                    {% if value['GeneName2'] == "-" %}
                    <td>None</td>
                    <td>None</td>
                    {% else %}
                    <td><b>{{ value['GeneName1'] }}</b>-{{ value['GeneName2'] }}</td>
                    <td><b><a href="http://pfam.xfam.org/family/{{ value['Domain1'] }}">{{ value['Domain1'] }}</b>({{ value['Region1'] }})--<a href="http://pfam.xfam.org/family/{{ value['Domain2'] }}">{{ value['Domain2'] }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xl-4">
        <div  class="jumbotron">
        <div class="content">
            <div align="center">
                <h4 class= "featurette-heading">Network Density Score: <span id="string_score"></span>% <span class = "text-muted"></span> </h4>
                <h6> The local network of this protein has more interaction than <span id="string_score2"></span>% of all proteins in the proteome.</h6>
            </div>
        </div>
        </div>
        </div>
    <div class="col-xl-8">
      <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-chart-pie mr-1"></i> Statistics on cMDT
      </div>
      <div class="card-body">
        <div class="chart js-plotly-plot" id="sample_graph" data-height="500" data-search="true"></div>
      </div>
    </div>
    </div>
  </div>
        <div class="row">
          <div class="col-xl-12">
              <div class="card mb-4">
                  <div class="card-header">
                      <i class="fas fa-table mr-1"></i> Protein Interaction Lost due to the MDT switch in all disease types
                  </div>
                  <div class="table-responsive">
                    <div id="toolbar" class="select">
                      <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                      </select>
                    </div>
                      <table id="dataTable" class="table table-bordered table-striped" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true" data-search="true" data-height="400" data-show-export="true" data-page-size="10" data-pagination="true" data-show-multi-sort="true" data-total-rows="50">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Sample ID</th>
                              <th scope="col">Disease Type</th>
                              <th scope="col">Gene Name 1</th>
                              <th scope="col">Gene Name 2</th>
                              <th scope="col">cMDT</th>
                              <th scope="col"> Transcript Name</th>
                            </tr>
                          </thead>
                              {% for value in data %}
                              <tr>
                                  <td><a href="Sample?sampleid={{ value['CancerSampleId']}}&gene={{ value['GeneName1']}}&tissue={{ value['Tissue']}}">{{ value['CancerSampleId']}}</a></td>
                                  <td><a href="Cancer?cancer={{ value['Tissue']}}">{{ value['CancerType2']}}</a></td>
                                  <td><a href="Gene?gene={{ value['GeneName1'] }}">{{ value['GeneName1'] }}</a></td>
                                  {% if value['GeneName2'] == "-" %}
                                  <td>None</td>
                                  {% else %}
                                  <td>{{ value['GeneName2'] }}</td>
                                  {% endif %}
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}">{{ value['DomCancerTrans'] }}</a></td>
                                  <td><a href="Transcript?gene={{ value['GeneName1'] }}&enst={{ value['DomCancerTrans'] }}">{{ value['Transcript_Name'] }}</a></td>
                              </tr>
                              {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
      </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i> Protein Interaction Lost with Cancer Census Proteins due to MDT Switch
                    </div>
                    <div class="table-responsive">
                        <div id="toolbar3" class="select">
                          <select class="form-control">
                            <option value="">Export Basic</option>
                            <option value="all">Export All</option>
                          </select>
                        </div>
                        <table id="dataTable3" class="table table-bordered table-striped" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar3" data-show-toggle="true" data-show-columns="true" data-search="true" data-height="400" data-show-export="true" data-page-size="10" data-pagination="true" data-show-multi-sort="true" data-total-rows="50">
                            <thead class="thead-dark">
                                <th scope="col">Gene Name</th>
                            </thead>
                                 {% for value in cgc %}
                                <tr>
                                    <td><a href="https://cancer.sanger.ac.uk/cosmic/gene/analysis?ln={{ value['GeneName'] }}">{{ value['GeneName'] }}</a></td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script language='javascript'>
       function invokeIsonet() {
           var stringNetwork = document.getElementById('svg_network_image');
           if (stringNetwork == null) {
               setTimeout(invokeIsonet, 10)
           } else {
               isonet();
           }
       }

       function send_request_to_string() {

           var stringNetwork = document.getElementById('svg_network_image');
           if (stringNetwork !== null) {
               stringNetwork.remove();
           }

           text = '{{ genename }}';
           //enstidxx = '{{ enstid }}';

           var protein = text.split(' ');

           partner_genenames_missed = JSON.parse('{{ partner_genenames | tojson  }}');
          // ensp_frame_exists = JSON.parse('{{ ensp_frame_exists | tojson  }}');
          // consol.log(ensp_frame_exists)
           partner_genenames_exists = JSON.parse('{{ partner_genenames_exists | tojson  }}');

           partner_genenames_missed.push(protein)
           partner_genenames_missed.push.apply(partner_genenames_missed,partner_genenames_exists)


           if (partner_genenames_missed.length > 20) {
               partner_genenames_missed = JSON.parse('{{ partner_genenames | tojson  }}');
               partner_genenames_missed.push(protein)
               partner_genenames_missed.push.apply(partner_genenames_missed,partner_genenames_exists.slice(0, 10))
           }

           getSTRING('https://version-11-5.string-db.org', {
               'species': '9606',
               //'identifiers': protein,
               'identifiers':  partner_genenames_missed,
               'network_flavor': 'confidence',
               'caller_identity': 'www.amazing_network_app.org',
               'required_score':0,
               //'add_nodes':15
               'add_white_nodes':0
           })
       }


        var cgc_array = [];
        function isonet() {

            string_score = '{{ string_score }}'
            document.getElementById('string_score').innerHTML = string_score;

            string_score2 = '{{ string_score }}'
            document.getElementById('string_score2').innerHTML = string_score2;

            transcript_name = '{{ transcript_name }}'
            document.getElementById('transcript_name').innerHTML = transcript_name;
            //genename_searched = localStorage.getItem('geneid')
            enstidxx = '{{ enstid }}';
            document.getElementById('enstidxx').innerHTML = enstidxx;
            genename_searched = '{{ genename }}';
            document.getElementById('genename_searched').innerHTML = genename_searched;

            //var storedNames = JSON.parse(localStorage.getItem("nodenames"));
            partner_genenames = JSON.parse('{{ partner_genenames | tojson  }}');
            // ensp_frame = JSON.parse('{{ partner_genenames | tojson  }}');

            df_cgc_list = JSON.parse('{{ df_cgc_list | tojson  }}');

            protein_nodes = document.getElementsByClassName('nwnodecontainer');

            for (i = 0; i < protein_nodes.length; i++) {

                geneName = protein_nodes[i].getAttribute('data-safe_div_label')

                if (geneName == genename_searched) {
                    geneid_searched = protein_nodes[i].getAttribute('id').split(".").pop()

                    pos_gene_id_searched_x = protein_nodes[i].getAttribute('data-x_pos')
                    pos_gene_id_searched_y = protein_nodes[i].getAttribute('data-y_pos')
                } else {
                    pos_partner_id_x = protein_nodes[i].getAttribute('data-x_pos')
                    pos_partner_id_y = protein_nodes[i].getAttribute('data-y_pos')
                };
            }



            for (k = 0; k < partner_genenames.length; k++) {

                partner_name = partner_genenames[k]

                for (j = 0; j < protein_nodes.length; j++) {

                    geneName = protein_nodes[j].getAttribute('data-safe_div_label')

                    if (partner_name == geneName) {
                        partner_id = protein_nodes[j].getAttribute('id').split(".").pop()
                        pos_partner_id_x = protein_nodes[j].getAttribute('data-x_pos')
                        pos_partner_id_y = protein_nodes[j].getAttribute('data-y_pos')

                    } else {
                        continue;
                    }

                    //document.getElementById('x1').innerHTML = pos_partner_id_x;
                    //document.getElementById('y1').innerHTML = pos_partner_id_y;
                    //document.getElementById('x2').innerHTML = pos_gene_id_searched_x;
                    //document.getElementById('y2').innerHTML = pos_gene_id_searched_y;


                    var elem = document.getElementById('line' + '.' + geneid_searched + '.' + partner_id + '.' + '0')
                    var elem1 = document.getElementById('line' + '.' + geneid_searched + '.' + partner_id + '.' + '1')
                    var elem2 = document.getElementById('line' + '.' + partner_id + '.' + geneid_searched + '.' + '0')
                    var elem3 = document.getElementById('line' + '.' + partner_id + '.' + geneid_searched + '.' + '1')


                    if (elem !== null) {
                        elem.setAttribute('stroke', 'rgb(0,0,0)')
                        elem.setAttribute('stroke-opacity', '1')
                        elem.setAttribute('stroke-width', '10')
                        elem1.setAttribute('stroke', 'rgb(0,0,0)')
                        elem1.setAttribute('stroke-opacity', '1')
                        elem1.setAttribute('stroke-width', '10')

                    };

                    if (elem2 !== null) {
                        elem2.setAttribute('stroke', 'rgb(0,0,0)')
                        elem2.setAttribute('stroke-opacity', '1')
                        elem2.setAttribute('stroke-width', '10')
                        elem3.setAttribute('stroke', 'rgb(0,0,0)')
                        elem3.setAttribute('stroke-opacity', '1')
                        elem3.setAttribute('stroke-width', '10')

                    }

                }


            }

            var object = {};
            //var cgc_array = [];

            for (j = 0; j < protein_nodes.length; j++) {

                  geneName = protein_nodes[j].getAttribute('data-safe_div_label')

                  document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,255,255)')

            }


            for (j = 0; j < protein_nodes.length; j++) {

                  geneName = protein_nodes[j].getAttribute('data-safe_div_label')

                  for(i = 0; i < df_cgc_list.length; i++) {

                      cgc_name = df_cgc_list[i]

                      if (cgc_name == geneName) {

                        document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(0,255,255)');
                        //cgc_array.push(cgc_name);
                      } //else {
                         //continue;
                        //document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,255,255)');
                     // };

                      //if (cgc_name == genename_searched) {

                       // document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,0,0)');
                      //}
                    }

                if (geneName == genename_searched) {
                      document.getElementsByClassName('nwbubblecoloredcircle')[j].setAttribute('fill', 'rgb(255,0,0)');
                  }
            }
        }
    </script>
    <script>
        $('document').ready(function() {
              $('#loadingsymbol').fadeOut();
        });
    </script>
    <script>
     var $table = $('#dataTable')

     $(function() {
       $('#toolbar').find('select').change(function () {
         $table.bootstrapTable('destroy').bootstrapTable({
           exportDataType: $(this).val(),
           exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
           columns: [
             {
               field: 'CancerSampleId',
               title: 'SampleID'
             }, {
               field: 'CancerType2',
               title: 'Disease Type'
             }, {
               field: 'GeneName1',
               title: 'Gene Name'
             }, {
               field: 'GeneName2',
               title: 'Gene Name2'
             }, {
               field: 'DomCancerTrans',
               title: 'cMDT'
             }, {
               field: 'Transcript_Name',
               title: 'Transcript Name'
             }
           ]
         })
       }).trigger('change')
     })
    </script>
    <script>
     var $table2 = $('#dataTable3')
     $(function() {
       $('#toolbar3').find('select').change(function () {
         $table2.bootstrapTable('destroy').bootstrapTable({
           exportDataType: $(this).val(),
           exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
           columns: [
             {
               field: 'Gene Name',
               title: 'Gene Name'
             }
           ]
         })
       }).trigger('change')
     })
    </script>
    <script type="text/javascript">
        var plot = {{  graphJSON2 | safe }};
        Plotly.plot('sample_graph', plot, {});
    </script>
    {% endblock %}
  </body>
