<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> CanIsoNet beta-version</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMXDYWMED4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XMXDYWMED4');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/amblem.png') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


</head>

</html>

<body>
    {% extends "template.html" %} {% block content %}
    <div class="container">
    <br>
        <div class="jumbotron">
          <!--  <div class="row"> -->
                <div class="col-xl-12">
                    <div class="content">
                      <div align="center" width="700px">
                      <h5 class= "featurette-heading">Gene Name: <span id="genename"></span>
                        <br>
                        Cancer Type: <span id="tissue"></span>
                        <br>
                        Sample ID: <span id="CancerSampleId"></span>
                        <br>MDT:
                        {% for value in normal_trans_id_dict %}
                            <a href="http://feb2014.archive.ensembl.org/Homo_sapiens/Transcript/Summary?db=core;t={{ normal_trans_id_dict[value] }}">{{ normal_trans_id_dict[value] }}</a>,
                        {% endfor %}
                        <br>
                        cMDT:<a href="http://feb2014.archive.ensembl.org/Homo_sapiens/Transcript/Summary?db=core;t={{ cancer_trans_id }}">{{ cancer_trans_id }}</a></h5>
                        <br>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i> Expression Count of MDT and cMDT
                        </div>
                        <div class="card-body">
                            <div class="chart3" id="bargraph">
                            </div>
                            <div class="text-center">
                              <div class="spinner-border" role="status" id="loadingsymbol">
                               <!-- <span class="sr-only">Loading...</span> -->
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i> Domain Structures of Transcripts
                        </div>
                        <div class="card-body">
                             <!-- <span id="normal_trans_id"></span> -->
                            <h6><b>Domain Structures of MDT and cMDT</b></h6>
                            <br>
                            <div id = "element">
                            <img class="cancer_trans_id mx-auto d-block" id ="cancer_trans_id" class="mx-auto d-block" style="max-width: 100%">
                            </div>
                        <br>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script>
        url = new URL(window.location.href)
        CanSampleId = url.searchParams.get("sampleid")
        genename = url.searchParams.get("gene")
        tissuetype_gtex = url.searchParams.get("tissue")
        tissuetype = tissuetype_gtex.split('.')[1]

        document.getElementById('genename').innerHTML = genename;
        document.getElementById('tissue').innerHTML = tissuetype;
        document.getElementById('CancerSampleId').innerHTML = CanSampleId;

    </script>
    <script>
        window.onload = function() {
            //normal_trans_id = '{{ normal_trans_id }}'

            normal_trans_id_list = JSON.parse('{{ normal_trans_id_list | tojson }}');

            cancer_trans_id = '{{ cancer_trans_id }}'

            url = new URL(window.location.href)
            CanSampleId = url.searchParams.get("sampleid")
            genename = url.searchParams.get("gene")
            tissuetype = url.searchParams.get("tissue")

            document.getElementById('cancer_trans_id').innerHTML = cancer_trans_id;

            //var image = document.getElementsByClassName("cancer_trans_id")[0]
            // image.src = "static/images/" + cancer_trans_id.toUpperCase() + ".png"
           // var img = document.getElementsByClassName("cancer_trans_id")[0]

            var image_src_arrays = [];

           // var img = document.createElement("img")
            for(i = 0; i < normal_trans_id_list.length; i++) {

                normal_trans_id = normal_trans_id_list[i]

                //img.src = "static/images/cmdt_gtex_swicth/" +  cancer_trans_id + "_" + normal_trans_id + ".png"
                var src = "static/images/cmdt_gtex_swicth/" +  cancer_trans_id + "_" + normal_trans_id + ".png";
                image_src_arrays.push(src);
                //var src = document.getELementById("cancer_trans_id")
            };

            for (i = 0; image_src_arrays.length > i; i++) {
                 var img = new Image(900, 200)
                //var img = document.createElement("img")
                 img.src = image_src_arrays[i]
                 var src = document.getElementById("element")
                 src.appendChild(img)

            };

            // var image_normal = document.getElementsByClassName("normal_trans_id")[0]
          //  var image_normal = document.getElementsByClassName("normal_trans_id")[0]
          //  image_normal.src = "static/images/" + CamSampleId + genename + ".png"

          //  document.getElementById('image').innerHTML = image.src
          //  document.getElementById('image_normal').innerHTML = image_normal.src
        };
    </script>
    <script src="{{ url_for('static', filename='js/gene_based.js') }}"></script>
    <script>
        $('document').ready(function() {
              $('#loadingsymbol').fadeOut();
        });
    </script>
    <script type="text/javascript">
        var plot = {{ graphJSON | safe }};
        Plotly.plot('bargraph', plot, {});
    </script>
    {% endblock %}
</body>
